@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400');

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#6441A5, #2a0845);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

span, h2 {
    color: #fff;
    margin-top:0.3em
    margin-bottom:0.7em;
}

#login, #loggedin {
    display: none;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
.styled-btn {
    border-radius: 40px;
    padding: 18px;
    background-color: #6441A5;
    border: none;
}

.styled-btn:hover {
    background-color: #2a0845;
    transition: 0.2s;
}

.styled-btn:active {
    background-color: #2a0845;
}

.styled-btn:focus {
    background-color: #2a0845;
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8),0 0 2px rgba(255,255,255,0.8);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.8),0 0 2px rgba(255,255,255,0.8);
}

h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 6em;
    color: #fff;
}

p {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

h3 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 1.2em;
    margin-bottom: 2em

}

.slider-form {
    padding: 0 10em 0 10em;
    margin-bottom: 4em;
}

.slider-label-left {
    color: #fff;
    position: absolute;
    margin-top: 1.5em;
    left: 9em;
}

.slider-label-right {
    color: #fff;
    position: absolute;
    margin-top: 1.5em;
    right: 9em;
}

.form-group {
    margin-top: 8em;
}

.form-group:first-of-type {
    margin-top: 2em;
}

/*range slider*/

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}

.flat-slider.ui-slider {
    border: 0;
    background: #6441A5;
    border-radius: 30px;
}

.flat-slider.ui-slider-horizontal {
    height: 2px;
}

.flat-slider .ui-slider-handle {
    width: 25px;
    height: 25px;
    background: #ed6850;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -13px;
}

.flat-slider .ui-slider-handle:hover {
    opacity: .9;
}

.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 30px;
    background: #fff;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 2px;
}

#loader {
    margin: 0 auto;

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ed6850;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infnite;
}

#loadContainer {
    margin-top: 1.3em
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#getSongsByWord {
    margin-top: 0.5em;
}